.git
.gitignore
.dockerignore
node_modules/
vendor/
npm-debug.log
yarn-error.log
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
.env
Dockerfile
docker-compose.override.yml
docker-compose.prod.yml
.docs
.idea
.vscode
.phpunit.result.cache
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
*.md
*.txt
*.log
docker/